<h1 class="animated fadeIn fast">Product Registration</h1><hr>

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success" style="margin-bottom: 15px;"
        data-toggle="modal" data-target="#productModal" (click)="resetModal()">
  Agregar
</button>

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #modal>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="frmProduct">

          <div class="form-group">
            <label for="txtNombre">Nombre</label>
            <input type="text" class="form-control" id="txtNombre" formControlName="nombre" 
              [class.error]="isInvalid(frmProduct.get('nombre'))">
            <small class="text-danger" *ngIf="isInvalid(frmProduct.get('nombre'))">
              *Introduzca el nombre del producto
            </small>
          </div>

          <div class="form-group">
            <label for="txtPrecio">Precio</label>
            <input type="number" class="form-control" id="txtPrecio" formControlName="precio"
              [class.error]="isInvalid(frmProduct.get('precio'))">
            <small class="text-danger" *ngIf="isInvalid(frmProduct.get('precio'))">
              *Introduzca el precio del producto
            </small>
          </div>

          <div class="form-group">
            <label for="txtDescripcion">Descripción</label>
            <textarea class="form-control" id="txtDescripcion" rows="3" formControlName="descripcion"
              [class.error]="isInvalid(frmProduct.get('descripcion'))"></textarea>
            <small class="text-danger" *ngIf="isInvalid(frmProduct.get('descripcion'))">
              *Introduzca una descripcion del producto
            </small>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="createProduct()" [disabled]="frmProduct.invalid">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<table class="table animated fadeIn fast">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of ProductList; let i = index">
      <th scope="row"> {{ i + 1 }} </th>
      <td> {{ product.nombre }} </td>
      <td> {{ product.precio | currency }} </td>
      <td class="text-center">
        <button class="btn  btn-outline-dark" (click)="showDetailsProduct(product.id)">
          <i class="fas fa-info-circle"></i>
        </button>
        <button class="btn  btn-outline-dark mx-3" (click)="updateProduct(product.id)">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="btn  btn-outline-dark" (click)="deleteProduct(product.id)">
          <i class="fas fa-fire"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
