<div class="card animated fadeIn">
    <img [src]="producto.imgSrc" class="card-img-top" [alt]="producto.nombre">
    <div class="card-body">
      <h5 class="card-title">{{ producto.nombre }}</h5>
      <p class="card-text"> {{ producto.descripcion }} </p>
      <p class="card-text"><small class="text-muted">{{ producto.precio | currency }}</small></p>

      <button class="btn btn-outline-success btn-block" (click)="verProducto(producto.id)"> 
        See more ...
      </button>
    </div>
</div>