<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isBadRequest">
  <strong>{{ errorMessage }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-9 col-sm-5 col-md-5 col-lg-5 col-xl-4">
        <div class="card text-white bg-dark mb-3 animated fadeIn">
            
            <div class="card-body">
              <h5 class="card-title text-center">
                  <img src="assets/ng-dark.svg" alt="angular logo">
              </h5> <hr>
            <form (ngSubmit)="singUp()">

                <!-- Username -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-user text-white"></i>
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="login.username" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <!-- Password -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-lock text-white"></i>
                      </span>
                    </div>
                    <input type="password" [(ngModel)]="login.password" class="form-control" name="password" placeholder="Password" aria-label="Contraseña" aria-describedby="basic-addon1">
                </div>
                
                <!-- Boton -->
                <div>
                    <button type="submit" class="btn btn-block btn-success">
                        Login
                    </button>
                </div>

              </form>
            </div>
            <div class="card-footer text-center">
                <span>Authorized personal only</span>
            </div>
        </div>
    </div>
</div>
