<div class="row d-flex justify-content-center">
    <div class="col-md-5">
        <div class="card text-white bg-dark mb-3">
            
            <div class="card-body">
              <h5 class="card-title text-center">
                  <img src="assets/ng-dark.svg" alt="angular logo">
              </h5> <hr>
            <form>

                <!-- Username -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-user text-white"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <!-- Password -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-lock text-white"></i>
                      </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1">
                </div>

                <!-- Boton -->
                <div>
                    <button type="button" class="btn btn-block btn-success">
                        Login
                    </button>
                </div>

              </form>
            </div>
            <div class="card-footer text-center">
                <span>Sólo personal autorizado</span>
            </div>
        </div>
    </div>
</div>
